name: elog_plus
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ELOG_PLUS_MINIO_URL=http://minio:9000
      - ELOG_PLUS_MONGODB_URI=mongodb://elogs:elogs@mongodb-primary:27017/elogs?authSource=elogs
      - ELOG_PLUS_KAFKA_BOOTSTRAP=kafka:9092
      - WAIT_LOGGER_LEVEL=debug
      - WAIT_TIMEOUT=90
      - WAIT_HOSTS=mongodb-primary:27017, minio:9000
    ports:
      - "8080:8080"
    volumes:
      - ./:/opt/app
    networks:
      - back-tier
    depends_on:
      - mongodb-primary
      - minio
      - kafka