spring:
  ldap:
    embedded:
      base-dn: dc=sdf,dc=slac,dc=stanford,dc=edu
      ldif: classpath:test-ldap-schema.ldif
      port: 8389
      validation:
        enabled: false
  cache:
    type: none
edu:
  stanford:
    slac:
      elog-plus:
        root-user-list:
          - user1@slac.stanford.edu
        app-token-jwt-key: dabd148ddd89bf64236b3c2563a54921d95c959dbe6a872be3eefaa2f284a4cb
        root-authentication-token-list:
# Set the logging level for the entire MongoDB package
#logging:
#    level:
#      org.springframework.data.mongodb: DEBUG